/env
/js/node_modules
/tests
/.vscode
__pycache__
*.json
/tests/test.py
python/tests/test.json
python/apis/google_search/data.json
data.json
python/apis/song/src/*
python/song/src/Amar-Sonar-Bangla.mp3
python/tests/test.py
